[submodule "contrib/Socket.IO"]
	path = contrib/Socket.IO
	url = http://github.com/LearnBoost/Socket.IO.git
[submodule "contrib/Socket.IO-node"]
	path = contrib/Socket.IO-node
	url = http://github.com/LearnBoost/Socket.IO-node.git
