@import nib
global-reset()

body
  font 13px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif
  color #222
  background #332 url(../images/bg.png)
.off
  display none

// text
a
  text-decoration none
.b
  font-weight bold
.huge
  font-size 60px
  line-height 70px
.larger
  font-size 36px
  line-height 40px
.large
  font-size 30px
  line-height 40px

// layout
.center
  text-align center
.centered
  margin 0 auto
.abs
  position absolute
.rel
  position relative
.col
  display inline-block
  vertical-align: top

// style
.rounded
  border-radius 3px
.border
  border 1px solid #555

// margins and padding
.pam
  padding 12px
.pas
  padding 9px
.mbl
  margin-bottom 16px
.mts
  margin-top 9px
.mtm
  margin-top 12px

// colors
a
  color #fff
.white
  color #fff
.dark
  color #999

// one-offs
.container
  width 1190px
.header
  height 140px
  background url(../images/logo.png) center top no-repeat
  text-indent -9999px
.sidebar
  margin-top 142px
  width 190px
  height 620px
  overflow hidden
  color #eee
.info
  background #444 url(../images/board-bg.png)
  box-shadow #1a1a1a 0px 0px 2px
  text-shadow #000 0px 0px 2px
.formation-name
  font-size 20px
.formation-image
  background no-repeat center center
  height: 100px
.arrow-image
  background url(../images/arrows.png) no-repeat center center
  display inline-block
  width 57px
  height 11px
  position relative
  top 2px
.notice
  box-shadow #1a1a1a 0px 0px 2px
  background #444 url(../images/board-bg.png)
  padding 5px 8px 6px 8px
  margin 0px 1px 12px 0
  transition all 1s
.board-container
  margin 3px 0 8px 10px
  background #333 url(../images/board-bg.png)
  border 1px solid #888
  box-shadow #000 0px 0px 2px
  border-radius 7px
.board
  width 961px
  height 601px
  background url(../images/pixel.png)
.message
  padding 240px 0
  width 981px
  height 141px
  top 0
  left 0
  background-color rgba(0, 0, 0, 0.2)
.tooltip
  box-shadow #555 0px 0px 2px
  background-color #eee
  padding 3px 7px 4px 7px

.player
  position absolute
  width 6px
  height 6px
  border 2px solid #666
  background #ccc
  transition: left 0.3s ,top 0.3s
  &.self
    border 2px solid #07f
    background #89cff0
  &.idle
    opacity 0.5
  &.flash
    border 2px solid #f60
    background #ffc29b
  &.active
    border 2px solid #fc0
    background #ff3

.footer
  padding 10px 12px
