@import nib
global-reset()

@import "spacing"

body
  font 13px/20px 'Source Sans Pro', sans-serif
  color #222
  background #332 url(../images/bg.png)
.off
  display none

// text
a
  text-decoration none
.b
  font-weight bold
.huge
  font-size 60px
  line-height 60px
.larger
  font-size 36px
  line-height 50px
.large
  font-size 30px
  line-height 40px
.medium
  font-size 20px
  line-height 20px

// layout
.center
  text-align center
.centered
  margin 0 auto
.abs
  position absolute
.rel
  position relative
.col
  display inline-block
  vertical-align: top

// style
.rounded
  border-radius 3px
.border
  border 1px solid #444
.top-border
  border-top 1px solid #444
  margin-top -1px

// colors
a
  color #fff
.white
  color #fff
.dark
  color #999
.dim
  opacity 0.5

// transitions
.movement
  transition left 0.3s, top 0.3s
.fade
  transition left 0.3s, top 0.3s, opacity 1s

// one-offs
.container
  @extend .centered
  width 984px
.header
  height 140px
  background url(../images/logo.png) center top no-repeat
  text-indent -9999px
.info
  @extend .abs
  @extend .center
  @extend .white
  @extend .border
  background #444 url(../images/board-bg.png)
  text-shadow #000 0px 0px 2px
  width 119px
  height 599px
  top 10px
  left 10px
.formation-name
  font-size 20px
.formation-image
  background no-repeat center center
  height: 100px
.arrow-image
  background url(../images/arrows.png) no-repeat center center
  display inline-block
  width 57px
  height 11px
  position relative
  top 2px
.board-container
  @extend .rel
  background #333 url(../images/board-bg.png)
  border 1px solid #888
  box-shadow #000 0px 0px 2px
  border-radius 7px
.board
  @extend .rel
  width 961px
  height 601px
  background url(../images/pixel.png)
.message
  @extend .larger
  @extend .b
  @extend .center
  @extend .abs
  @extend .white
  padding 200px 260px
  box-sizing border-box
  width 100%
  height 100%
  top 0
  left 0
  background-color rgba(0, 0, 0, 0.6)
  border-radius 7px
.tooltip
  @extend .rounded
  @extend .abs
  @extend .center
  box-shadow #555 0px 0px 2px
  background #eee
  &:after
    content " "
    width 10px
    height 10px
    background #eee
    border solid #444
    border-width 0 1px 1px 0
    transform rotate(45deg)
    position absolute
    bottom -6px
    left 50%
    margin-left -7px
.welcome
  @extend .tooltip
  @extend .center

.player
  @extend .movement
  position absolute
  width 6px
  height 6px
  border 2px solid #666
  background #ccc
  &.self
    border 2px solid #07f
    background #89cff0
  &.idle
    opacity 0.5
  &.flash
    border 2px solid #f60
    background #ffc29b
  &.active
    border 2px solid #fc0
    background #ff3

.score
  @extend .b
  transition: 0.6s all
  transform: scale(0.1, 0.1)
  transform-origin: 50% 100%
  font-size: 300px
  width: 400px
  &.positive
    color: #07f
  &.negative
    color: #f60
  &.scale
    transform: scale(1, 1)
    opacity: 0

.footer
  @extend .dark
  @extend .center
