@import nib
global-reset()

@import "spacing"

shadow = rgba(0,36,62,0.2)

body
  font 14px/20px 'Source Sans Pro', sans-serif
  color #024
  background #abbdd1
.off
  display none

// text
a
  text-decoration none
  font-weight bold
.b
  font-weight bold
.countdown
  font-size: 80px
  line-height: 80px
.huge
  font-size 60px
  line-height 60px
.larger
  font-size 36px
  line-height 50px
.large
  font-size 24px
  line-height 26px
.medium
  font-size 16px
  line-height 16px

// layout
.center
  text-align center
.centered
  margin 0 auto
.abs
  position absolute
.rel
  position relative
.col
  display inline-block
  vertical-align: top

// style
.rounded
  border-radius 3px
.border
  border 1px solid #ddd
.top-border
  border-top 1px solid #ddd
  margin-top -1px
.dark-border
  border 1px solid #798796
.shadow
  box-shadow shadow 2px 2px 0px
.text-shadow
  text-shadow shadow 1px 1px 0px

// colors
a
  color #fff
.white
  color #fff
.light
  opacity 0.7
.dim
  opacity 0.5

// transitions
.movement
  transition left 0.3s ease-in-out, top 0.3s ease-in-out
.fade
  transition left 0.3s ease-in-out, top 0.3s ease-in-out, opacity 1s ease-in-out

// one-offs
.container
  @extend .centered
  width 984px
.header
  height 140px
  background url(../images/logo.png) center center no-repeat
  text-indent -9999px
.info
  @extend .abs
  @extend .center
  @extend .border
  background #eee
  width 119px
  height 599px
  top 10px
  left 10px
.formation-name
  font-size 20px
.formation-image
  @extend .col
  @extend .rel
  height: 100px
.arrow-image
  background url(../images/arrows.png) no-repeat center center
  display inline-block
  width 57px
  height 11px
  position relative
  top 2px
  text-indent: -10000px
  overflow: hidden
.board-container
  @extend .rel
  @extend .dark-border
  @extend .shadow
  background #eee
  border-radius 12px
.board
  @extend .rel
  width 961px
  height 601px
  background url(../images/cell.png)
.message
  @extend .larger
  @extend .b
  @extend .center
  @extend .abs
  @extend .white
  padding 200px 260px
  box-sizing border-box
  width 100%
  height 100%
  top 0
  left 0
  background-color shadow
  border-radius 12px
.tooltip
  @extend .rounded
  @extend .abs
  @extend .center
  @extend .col
  @extend .shadow
  @extend .dark-border
  background #fff
  &:after
    background url(../images/tip.png) no-repeat center center
    content " "
    width 24px
    height 10px
    position absolute
    bottom -10px
    left 50%
    margin-left -12px
.welcome
  @extend .tooltip
  @extend .center

.player
  @extend .movement
  @extend .abs
  width 10px
  height 10px
  box-shadow inset -1px -1px 0px shadow, inset 1px 1px 0 rgba(255,255,255,0.3)
  background #aaa
  &.self
    background #6dd
  &.idle
    opacity 0.5
  &.flash
    background #f85
  &.active
    box-shadow inset -1px -1px 0px shadow, inset 1px 1px 0 rgba(255,255,255,0.4)
    background #fb3
.ref
  @extend .abs
  @extend .player.active
  width 15px
  height 15px

.score
  @extend .b
  transition 0.6s all ease-in
  transform scale(0.1, 0.1)
  transform-origin 50% 100%
  font-size 300px
  width 400px
  pointer-events none
  &.positive
    color #6dd
  &.negative
    color #f85
  &.scale
    transform scale(1, 1)
    opacity 0

.footer
  @extend .white
  @extend .center
  @extend .text-shadow
