body {
  font: 14px "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
	text-align: center;
	color: #222;
	background-color: #333;
}

a {
	color: #fff;
}

#header {
  font-family: Lobster;
	font-size: 120px;
	color: #eee;
	margin: 0;
}

#container {
  margin: 0 auto;
	text-align: left;
	width: 983px;
}

#board-border {
  padding: 10px 10px 8px 10px;
  border: 1px solid #888;
	background-color: #eee;
}

#board-controls {
  padding: 5px 7px;
}