body {
  font: 14px "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
	text-align: center;
	color: #222;
}

a {
	color: blue;
}

#header {
  font-family: Lobster;
	font-size: 120px;
	color: #aaa;
	margin: 0;
}

#container {
  margin: 0 auto;
	text-align: left;
	width: 971px;
}

#board-border {
  padding: 4px 4px 2px 4px;
  border: 1px solid #888;
}

#board-controls {
  padding: 5px 7px;
}