body {
  font: 14px "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
	text-align: center;
	color: #222;
}

a {
	color: blue;
}

#header {
  font-family: Lobster;
	font-size: 120px;
	color: #aaa;
	margin: 0;
}

#container {
  margin: 0 auto;
	text-align: left;
	width: 963px;
}

#board-border {
  border: 1px solid #555;
}

#board-controls {
  padding: 5px 7px;
}