/* line 4, ../../../../../var/lib/gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../var/lib/gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../var/lib/gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../var/lib/gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../var/lib/gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../var/lib/gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../var/lib/gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../var/lib/gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 6, ../src/screen.sass */
body {
  font-family: sans-serif;
  font-size: 12px;
  color: #222222;
  background: #333333 url(../images/bg.png);
}
/* line 11, ../src/screen.sass */
body a {
  color: white;
}
/* line 13, ../src/screen.sass */
body #container {
  width: 1190px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 15, ../src/screen.sass */
body #header {
  height: 160px;
  font-weight: bold;
  color: #eeeeee;
  text-align: center;
  text-shadow: black 2px 2px 2px;
  background: url(../images/swarmation.png) center 25px no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}
/* line 24, ../src/screen.sass */
body #header, body #footer, body #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 990px;
}
/* line 139, ../../../../../var/lib/gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #header, * html body #footer, * html body #content {
  overflow-x: hidden;
}
/* line 26, ../src/screen.sass */
body #info {
  color: white;
  font-family: Inconsolata;
  text-align: center;
  border: 1px solid #666666;
  padding: 10px 12px;
  -moz-box-shadow: #888888 0px 0px 2px 0;
  -webkit-box-shadow: #888888 0px 0px 2px 0;
  -o-box-shadow: #888888 0px 0px 2px 0;
  box-shadow: #888888 0px 0px 2px 0;
  border: 1px solid #222222;
  background: #444444 url(../images/bg-notice.png);
  margin: 2px;
  margin-bottom: 16px;
}
/* line 37, ../src/screen.sass */
body #info #countdown {
  font-size: 60px;
}
/* line 39, ../src/screen.sass */
body #info #formation {
  font-size: 20px;
  padding-top: 80px;
}
/* line 42, ../src/screen.sass */
body #info #score {
  font-size: 30px;
}
/* line 44, ../src/screen.sass */
body #sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 190px;
  height: 620px;
  overflow: hidden;
  font-family: Inconsolata;
  color: #eeeeee;
}
/* line 139, ../../../../../var/lib/gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #sidebar {
  overflow-x: hidden;
}
/* line 50, ../src/screen.sass */
body #sidebar .sidebar-notice {
  -moz-box-shadow: #1a1a1a 0px 0px 2px 0;
  -webkit-box-shadow: #1a1a1a 0px 0px 2px 0;
  -o-box-shadow: #1a1a1a 0px 0px 2px 0;
  box-shadow: #1a1a1a 0px 0px 2px 0;
  border: 1px solid #222222;
  background: #444444 url(../images/bg-notice.png);
  padding: 3px 7px 4px 7px;
  margin: 0px 1px 12px 0;
  color: white;
}
/* line 57, ../src/screen.sass */
body #sidebar #arrow-image {
  position: relative;
  top: 2px;
}
/* line 60, ../src/screen.sass */
body #sidebar .placeholder {
  color: #888888;
  background-color: #eeeeee;
}
/* line 63, ../src/screen.sass */
body #sidebar #username {
  width: 165px;
  border-width: 0px;
  padding: 2px 5px;
  font-size: 13px;
}
/* line 68, ../src/screen.sass */
body #sidebar .username-box {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 72, ../src/screen.sass */
body #content #about {
  padding: 5px 15px;
  text-align: right;
  color: #888888;
}
/* line 76, ../src/screen.sass */
body #content #board, body #content #play {
  margin: 10px 0 8px 10px;
}
/* line 78, ../src/screen.sass */
body #content #board-container {
  width: 981px;
  background-color: #eeeeee;
  border: 1px solid #888888;
  -moz-box-shadow: black 0px 0px 6px 0;
  -webkit-box-shadow: black 0px 0px 6px 0;
  -o-box-shadow: black 0px 0px 6px 0;
  box-shadow: black 0px 0px 6px 0;
}
/* line 83, ../src/screen.sass */
body #content #board-controls {
  padding: 15px 25px;
}
/* line 85, ../src/screen.sass */
body #content #tooltip {
  -moz-box-shadow: #555555 0px 0px 2px 0;
  -webkit-box-shadow: #555555 0px 0px 2px 0;
  -o-box-shadow: #555555 0px 0px 2px 0;
  box-shadow: #555555 0px 0px 2px 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  display: none;
  background-color: #eeeeee;
  padding: 3px 7px 4px 7px;
  position: absolute;
}
/* line 92, ../src/screen.sass */
body #content #tooltip .name {
  font-weight: bold;
}
/* line 94, ../src/screen.sass */
body #footer {
  color: #eeeeee;
  padding: 10px 12px;
}
/* line 97, ../src/screen.sass */
body #footer #leaderboard {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  line-height: 1.5em;
}
/* line 51, ../../../../../var/lib/gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #footer #leaderboard li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 43, ../../../../../var/lib/gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #footer #leaderboard li:first-child, body #footer #leaderboard li.first {
  padding-left: 0px;
}
/* line 44, ../../../../../var/lib/gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #footer #leaderboard li:last-child, body #footer #leaderboard li.last {
  padding-right: 0px;
}
/* line 100, ../src/screen.sass */
body #footer #leaderboard a {
  text-decoration: none;
  padding-right: 6px;
}
/* line 103, ../src/screen.sass */
body #footer #leaderboard a .points {
  color: #999999;
}
