[Unit]
Description=Swarmation

[Service]
Type=simple

Environment=PATH=/usr/local/bin:/usr/bin:/bin
Environment=HOME=/root
Environment=NODE_ENV=production

Restart=on-failure
RestartSec=4

WorkingDirectory=/opt/swarmation
ExecStart=/usr/bin/node --harmony server.js
ExecStop=/bin/kill $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
